.jumbotron{
    background-image: linear-gradient(rgba($light,0.7),rgba($dark,1)), url('/images/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    h1{
        color: $white;
        margin-top: 50px;
    }
    p{
        color: $white;
    }
}