@import url(https://fonts.googleapis.com/css?family=Catamaran|Montserrat);h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", sans-serif;
}

#showMember {
  line-height: 1rem;
}

#membersTable {
  display: none;
}

.show {
  display: inline-block;
  width: 100%;
}

/*Tab CSS */

.tab-pane {
  padding: 15px;
}

.img-file {
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .img-file:nth-of-type(3n + 1) {
    clear: both;
  }
}

#logo {
  position: relative;
  width: 150px;
  height: 30px;
  background: url("/images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#logo:hover {
  background: url("/images/logoHover.png");
  position: relative;
  width: 150px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.login-cover {
  background: url("/images/loginCover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 100px;
}

#confirm.modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.file-show-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.file-show-img img {
  max-width: 1200px;
  height: auto;
}

#fileClose {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("/images/close.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

span.icon {
  background-color: #0772b9;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
}

.jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 203, 220, 0.7)), to(#0772b9)), url("/images/header.png");
  background-image: linear-gradient(rgba(111, 203, 220, 0.7), #0772b9), url("/images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.jumbotron h1 {
  color: #fff;
  margin-top: 50px;
}

.jumbotron p {
  color: #fff;
}

