h1,h2,h3,h4,h5,h6{
    font-family: $ff-h;
}

#showMember{
    line-height: 1rem;
}
#membersTable{
    display: none;
}
.show{
    display: inline-block;
    width: 100%;
}

/*Tab CSS */
.tab-pane{
    padding: 15px;
}
.img-file{
    padding: 15px;
}
@media only screen and (min-width:768px) {
    .img-file:nth-of-type(3n + 1) {
        clear: both;
    }
}


#logo{
    position: relative;
    width: 150px;
    height: 30px;
    background: url('/images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#logo:hover{
    background: url('/images/logoHover.png');
    position: relative;
    width: 150px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-cover{
    background: url('/images/loginCover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}
.register-cover{
    background: url('/images/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}
#confirm.modal{
    background-color: rgba(0,0,0,.6);
}
.file-show-img{
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,.9);
    align-items: center;
    align-self: center;
    justify-content: center;
    img{
        max-width: 1200px;
        height: auto;
    }
}
#fileClose{
    position: absolute;
    right:10px;
    top:10px;
    width: 30px;
    height: 30px;
    background-image: url('/images/close.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.about-container div, .about-container p{
    text-align: center;
}
.about-container img{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.about-container p{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}
.about-container div h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

html  *{
    font-family: 'Poppins', sans-serif;
}
