h1,h2,h3,h4,h5,h6{
    font-family: $ff-h;
}

#showMember{
    line-height: 1rem;
}
#membersTable{
    display: none;
}
.show{
    display: inline-block;
    width: 100%;
}

/*Tab CSS */
.tab-pane{
    padding: 15px;
}
.img-file{
    padding: 15px;
}
@media only screen and (max-width:992px) {
    .img-file:nth-of-type(2n + 1) {
        clear: both;
    }
}

@media only screen and (min-width:992px) {
    .img-file:nth-of-type(3n + 1) {
        clear: both;
    }
}

#logo{
    position: relative;
    width: 150px;
    height: 30px;
    background: url('/images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#logo:hover{
    background: url('/images/logoHover.png');
    position: relative;
    width: 150px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-cover{
    background: url('/images/loginCover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}